<h1 matDialogTitle>Propriétés de la compétence</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field>
      <input matInput tabindex="1" [(ngModel)]="data.shortName" name="shortName" placeholder="Nom court" required>
      <mat-error *ngIf="requiredValidator.hasError('required')">
        Le nom court de la compétence est <strong>obligatoire</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput tabindex="1" [(ngModel)]="data.longName" name="longName" placeholder="Nom complet" required>
      <mat-error *ngIf="requiredValidator.hasError('required')">
        Le nom complet de la compétence est <strong>obligatoire</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput tabindex="1" [(ngModel)]="data.description" name="description" placeholder="Description">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [matDialogClose]="data" tabindex="2">Valider</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>
</div>
