<h1 matDialogTitle>Propriétés de l'étudiant</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput tabindex="1" [(ngModel)]="data.firstName" name="firstName" placeholder="Prénom" required>
    <mat-error *ngIf="requiredValidator.hasError('required')">
      Le prénom de l'élève est <strong>obligatore</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput tabindex="1" [(ngModel)]="data.lastName" name="lastName" placeholder="Nom de famille" required>
    <mat-error *ngIf="requiredValidator.hasError('required')">
      Le nom de famille de l'élève est <strong>obligatore</strong>
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [matDialogClose]="data" tabindex="2">Valider</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>
</div>
