.header :first-child {
  max-width: 300px;
}

.header :nth-child(n+2) {
  max-width: 50px;
}

.header-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.row :first-child {
  max-width: 300px;
}

.row :nth-child(n+2) {
  max-width: 50px;
}

.table :nth-child(2n+3) {
  background: #3C3C3C;
}

.mat-column-total20 {
  border-right: 4px solid rgba(255,255,255,.12);
  max-width: 60px !important;
}

.mat-column-total, .mat-column-total20 {
  border-left: 4px solid rgba(255,255,255,.12);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 48px; /* :O= */
}

mat-header-cell {
  background-color: #424242 !important;
}

mat-cell:not(.student) {
  background-color: inherit !important;
  text-align: center;
}

input.mat-input-element {
    background-color: #484848;
    border-width: 0;
    color: white;
    font-family: "Roboto";
    max-width: 40px !important;
}

input.mat-input-element:invalid {
  outline:none;
  border-color:#e91e63;
  box-shadow:0 0 10px #e91e63;
  color: #e91e63;
}
