.test-card {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  display: block;
  width: 300px;
  padding: 3px;
  float: left;
  margin: 0 15px 15px 0;
}

.test-header {
  display: flex;
  flex-direction: column;
}

.test-subtitle {
  font-size: x-small;
}

.test-actions {
  display: flex;
  justify-content: space-between;
}

.test-add {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  display: block;
  /*width: 50px;
  height: 50px;*/
  padding: 3px;
  float: left;
  margin: 0 15px 15px 0;
}

.test-content-add {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.add-icon {
  width: 48px;
  height: 48px;
  font-size: 48px;
}
