<ssi-page-header title="Détail de la {{className}}"></ssi-page-header>
<p></p>

<md-card *ngFor="let student of students" class="student">
  <md-card-content class="student-content">
    <p>{{student.firstName}} {{student.lastName}}</p>
  </md-card-content>
  <md-card-actions class="student-actions">
    <button md-icon-button (click)="openEditDialog(student)"><md-icon>edit</md-icon></button>
    <button md-icon-button (click)="deleteStudent(student)"><md-icon>clear</md-icon></button>
  </md-card-actions>
</md-card>
