<h1 md-dialog-title>Propriétés de la classe</h1>
<div md-dialog-content>
  <md-form-field>
    <input mdInput tabindex="1" [(ngModel)]="data.name" name="className" placeholder="Nom de la classe" required>
    <md-error *ngIf="classNameValidator.hasError('required')">
      Le nom de la classe est <strong>obligatore</strong>
    </md-error>
  </md-form-field>
</div>
<div md-dialog-actions>
  <button md-button [md-dialog-close]="data" tabindex="2">Valider</button>
  <button md-button (click)="onNoClick()" tabindex="-1">Annuler</button>
</div>
