<ssi-page-header title="Classes"></ssi-page-header>
<p></p>

<mat-card *ngFor="let class of classes" class="class">
  <mat-card-content class="class-content">
    <p>{{class.name}}</p>
  </mat-card-content>
  <mat-card-actions class="class-actions">
    <div>
      <button mat-icon-button (click)="goToDetails(class)"><mat-icon>toc</mat-icon></button>
      <button mat-icon-button (click)="openEditDialog(class)"><mat-icon>edit</mat-icon></button>
    </div>
    <button mat-icon-button (click)="deleteClass(class)"><mat-icon>clear</mat-icon></button>
  </mat-card-actions>
</mat-card>

<mat-card class="class-add">
  <mat-card-content class="class-content-add">
    <button mat-button color="basic" (click)="createClass()"><mat-icon aria-hidden="true" class="add-icon">add</mat-icon></button>
  </mat-card-content>
</mat-card>
