<ssi-page-header title="Classes"></ssi-page-header>
<p></p>

<md-card *ngFor="let class of classes" class="class">
  <md-card-content class="class-content">
    <p>{{class.name}}</p>
  </md-card-content>
  <md-card-actions class="class-actions">
    <div>
      <button md-icon-button (click)="goToDetails(class)"><md-icon>toc</md-icon></button>
      <button md-icon-button (click)="openEditDialog(class)"><md-icon>edit</md-icon></button>
    </div>
    <button md-icon-button (click)="deleteClass(class)"><md-icon>clear</md-icon></button>
  </md-card-actions>
</md-card>

<md-card class="class-add">
  <md-card-content class="class-content-add">
    <button md-button color="basic" (click)="createClass()"><md-icon aria-hidden="true" class="add-icon">add</md-icon></button>
  </md-card-content>
</md-card>
