<ssi-page-header title="Compétences"></ssi-page-header>
<p></p>

<mat-card *ngFor="let skill of skills" class="skill">
  <h2 matDialogTitle class="skill-center">{{skill.shortName}}</h2>
  <mat-card-content class="skill-center">
    <div matTooltip="{{skill.description}}">{{skill.longName}}</div>
  </mat-card-content>
  <mat-card-actions class="skill-actions">
    <div>
      <button mat-icon-button (click)="openEditDialog(skill)"><mat-icon>edit</mat-icon></button>
    </div>
    <button mat-icon-button (click)="deleteSkill(skill)"><mat-icon>clear</mat-icon></button>
  </mat-card-actions>
</mat-card>

<mat-card class="skill-add">
  <mat-card-content class="skill-content-add">
    <button mat-button color="basic" (click)="createSkill()"><mat-icon aria-hidden="true" class="add-icon">add</mat-icon></button>
  </mat-card-content>
</mat-card>
