<mat-sidenav-container class="navigation-container">
  <mat-sidenav #sidenav class="navigation-content" mode="side" opened="true">
    <nav>
      <ul>
        <li><a routerLink="/classes" routerLinkActive="active-link">Gestion des classes</a></li>
        <li><a routerLink="/skills" routerLinkActive="active-link">Gestion des compétences</a></li>
        <li><a routerLink="/notes" routerLinkActive="active-link">Saisie des notes</a></li>
        <li><a routerLink="/tracking" routerLinkActive="active-link">Suivi des progrès</a></li>
      </ul>
    </nav>
  </mat-sidenav>

  <div class="navigation-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
